<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <a (click)="resetFormCreate()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#exampleModalLong2"><i
    class="fas fa-user fa-sm text-white-50"></i> Ajouter un produit</a>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">PRODUITS</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Libelle</th>
              <th>Catégorie</th>
              <th>Prix Unitaire</th>
              <th>Quantité</th>
              <th *ngIf="userInfoLabel=='Admin'">Action(s)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of this.products">
              <td>{{product.labelOfProduct}}</td>
              <td>{{product.label}}</td>
              <td>{{product.unitPrice}}</td>
              <td>{{product.productQuantity}}</td>
              <th *ngIf="userInfoLabel=='Admin'" class="text-center">
                <svg (click)="setUpdateForm(product)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill text-primary mr-1" style="cursor: pointer" data-toggle="modal" data-target="#exampleModalLong" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
                <svg (click)="setUpdateForm(product)" data-toggle="modal" data-target="#addQuantity" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus text-primary" style="cursor:pointer;" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
              </th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Vertical modal update product-->

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">PRODUIT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="updateFormGroup" (ngSubmit)="updateProduct()">
              <div class="form-group">
                <label for="lib">Libellé du Produit</label>
                <input type="text" class="form-control" id="lib" placeholder="Libelle..." formControlName="labelOfProduct">
                <div *ngIf="updateFormGroup.get('labelOfProduct')!.invalid && (updateFormGroup.get('labelOfProduct')!.dirty || updateFormGroup.get('labelOfProduct')!.touched)">
                  <div *ngIf="updateFormGroup.get('labelOfProduct')!.hasError('required')" class="text-danger">Le libellé du produit est obligatoire</div>
                </div>
              </div>
              <div class="form-group">
                <label for="pu">Prix Unitaire</label>
                <input type="number" class="form-control" id="pu" min="0" placeholder="Prix Unitaire..." formControlName="unitPrice">
                <div *ngIf="updateFormGroup.get('unitPrice')!.invalid && (updateFormGroup.get('unitPrice')!.dirty || updateFormGroup.get('unitPrice')!.touched)">
                  <div *ngIf="updateFormGroup.get('unitPrice')!.hasError('required')" class="text-danger">Le prix unitaire est obligatoire et doit être un nombre</div>
                  <div *ngIf="updateFormGroup.get('unitPrice')!.hasError('min')" class="text-danger">Le prix unitaire doit être supérieur à 0</div>
                </div>
              </div>
              <div class="form-group">
                <label for="quantity">Quantité</label>
                <input type="number" class="form-control" id="quantity" min="0" placeholder="Quantité du produit..." formControlName="productQuantity">
                <div *ngIf="updateFormGroup.get('productQuantity')!.invalid && (updateFormGroup.get('productQuantity')!.dirty || updateFormGroup.get('productQuantity')!.touched)">
                  <div *ngIf="updateFormGroup.get('productQuantity')!.hasError('required')" class="text-danger">La quantité du produit est obligatoire et doit être un nombre</div>
                  <div *ngIf="updateFormGroup.get('productQuantity')!.hasError('min')" class="text-danger">La quantité du produit doit être supérieur à 0</div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="inputGroupSelect01">Label de la catégorie</label>
                <select class="custom-select" id="inputGroupSelect01" formControlName="category_id" (change)="setLabel()">
                  <option *ngFor="let categorie of categories" value="{{categorie.id}}">{{categorie.labelOfCat}}</option>
                </select>
                <div *ngIf="updateFormGroup.get('category_id')!.invalid && (updateFormGroup.get('category_id')!.dirty || updateFormGroup.get('category_id')!.touched)">
                  <div *ngIf="updateFormGroup.get('category_id')!.hasError('required')" class="text-danger">Le label de la catégorie est obligatoire</div>
                </div>
              </div>
              <div class="modal-footer">
                <button [disabled]="!(this.updateFormGroup.controls['labelOfProduct'].valid && this.updateFormGroup.controls['unitPrice'].valid && this.updateFormGroup.controls['productQuantity'].valid && this.updateFormGroup.controls['category_id'].valid)" type="submit" class="btn btn-primary" id="closeUpdate">Mettre à jour</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Vertical modal create product-->

    <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle2">PRODUIT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="updateFormGroup" (ngSubmit)="createProduct()">
              <div class="form-group">
                <label for="lib2">Libellé du Produit</label>
                <input type="text" class="form-control" id="Lib2" placeholder="Libelle..." formControlName="labelOfProduct">
                <div *ngIf="updateFormGroup.get('labelOfProduct')!.invalid && (updateFormGroup.get('labelOfProduct')!.dirty || updateFormGroup.get('labelOfProduct')!.touched)">
                  <div *ngIf="updateFormGroup.get('labelOfProduct')!.hasError('required')" class="text-danger">Le libellé du produit est obligatoire</div>
                </div>
              </div>
              <div class="form-group">
                <label for="Pu2">Prix Unitaire</label>
                <input type="number" class="form-control" id="Pu2" min="0" placeholder="Prix Unitaire..." formControlName="unitPrice">
                <div *ngIf="updateFormGroup.get('unitPrice')!.invalid && (updateFormGroup.get('unitPrice')!.dirty || updateFormGroup.get('unitPrice')!.touched)">
                  <div *ngIf="updateFormGroup.get('unitPrice')!.hasError('required')" class="text-danger">Le prix unitaire est obligatoire et doit être un nombre</div>
                  <div *ngIf="updateFormGroup.get('unitPrice')!.hasError('min')" class="text-danger">Le prix unitaire doit être supérieur à 0</div>
                </div>
              </div>
              <div class="form-group">
                <label for="quantity2">Quantité</label>
                <input type="number" class="form-control" id="quantity2" min="0" placeholder="Quantité du produit..." formControlName="productQuantity">
                <div *ngIf="updateFormGroup.get('productQuantity')!.invalid && (updateFormGroup.get('productQuantity')!.dirty || updateFormGroup.get('productQuantity')!.touched)">
                  <div *ngIf="updateFormGroup.get('productQuantity')!.hasError('required')" class="text-danger">La quantité du produit est obligatoire et doit être un nombre</div>
                  <div *ngIf="updateFormGroup.get('productQuantity')!.hasError('min')" class="text-danger">La quantité du produit doit être supérieur à 0</div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="inputGroupSelect02">Label de la catégorie</label>
                <select class="custom-select" id="inputGroupSelect02" formControlName="category_id" (change)="setLabel()">
                  <option *ngFor="let categorie of categories" value="{{categorie.id}}">{{categorie.labelOfCat}}</option>
                </select>
                <div *ngIf="updateFormGroup.get('category_id')!.invalid && (updateFormGroup.get('category_id')!.dirty || updateFormGroup.get('category_id')!.touched)">
                  <div *ngIf="updateFormGroup.get('category_id')!.hasError('required')" class="text-danger">Le label de la catégorie est obligatoire</div>
                </div>
              </div>
              <div class="modal-footer">
                <button [disabled]="!(this.updateFormGroup.controls['labelOfProduct'].valid && this.updateFormGroup.controls['unitPrice'].valid && this.updateFormGroup.controls['productQuantity'].valid && this.updateFormGroup.controls['category_id'].valid)" type="submit" class="btn btn-primary" id="closeCreate">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Vertical modal add quantity-->

<div class="modal fade" id="addQuantity" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle3">QUANTITE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateFormGroup" (ngSubmit)="addQuantity()">
          <div class="form-group">
            <label for="quantité">Quantité en stock</label>
            <input type="number" class="form-control" id="quantité" placeholder="Quantité du produit..." formControlName="productQuantity" [readOnly]="true">
          </div>
          <div class="form-group">
            <label for="Addquantité">Quantité à ajouter</label>
            <input type="number" class="form-control" id="Addquantité" min="0" placeholder="Quantité à ajouter..." formControlName="addproductQuantity">
            <div *ngIf="updateFormGroup.get('addproductQuantity')!.invalid && (updateFormGroup.get('addproductQuantity')!.dirty || updateFormGroup.get('addproductQuantity')!.touched)">
              <div *ngIf="updateFormGroup.get('addproductQuantity')!.hasError('required')" class="text-danger">La quantité à ajouter est obligatoire et doit être un nombre</div>
              <div *ngIf="updateFormGroup.get('addproductQuantity')!.hasError('min')" class="text-danger">La quantité à ajouter doit être supérieur à 0</div>
            </div>
          </div>
          <div class="modal-footer">
            <button [disabled]="!this.updateFormGroup.controls['addproductQuantity'].valid" type="submit" class="btn btn-primary" id="closeAdd">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
